<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{'organisationMayBeEligible.page.title'}"></title>
</head>
<body>

<main layout:fragment="content">

    <section class="guidance-layout">
        <h1 class="govuk-heading-l"
            th:text="#{'organisationMayBeEligible.page.title'}"></h1>

        <p class="govuk-body" th:text="#{organisationMayBeEligible.page.paragraph1'}"></p>

       	<p class="govuk-body" th:text="#{organisationMayBeEligible.page.paragraph2'}"></p>

       	<p class="govuk-body" th:text="#{organisationMayBeEligible.page.paragraph3'}"></p>

        <p class="govuk-body">
            <a th:href="${localAuthority.contactUrl}" th:text="#{organisationMayBeEligible.page.paragraph3.link(${localAuthority.description})}"></a>
        </p>
    </section>

</main>

</body>
</html>
