<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="(${errorSummary}? #{common.title.error} : '')  + #{enter.code.title}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l" th:text="#{enter.code.title}"></h1>

            <form data-prevent-double-submission th:action="@{/enter-code}" th:object="${formRequest}" method="POST" novalidate>

                <div class="govuk-inset-text">
                    <span class="govuk-body" th:text="#{enter.code.title.hint.prefix}"></span>
                    <b th:text="${emailAddress} + '.'"></b>
                    <span class="govuk-body" th:text="#{enter.code.title.hint.suffix}"></span>
                </div>

                <div th:replace="~{ fragments/govuk-input :: govuk-input(#{enter.code.postcode.label}, 'postcode', #{enter.code.postcode.hint}, 'text', 'govuk-input govuk-input--width-10')}"></div>
                <div th:replace="~{ fragments/govuk-input :: govuk-input(#{enter.code.code.label}, 'code', null, 'text', 'govuk-input govuk-input--width-4 input-capitals')}"></div>
                <button type="submit"
                        class="govuk-button"
                        data-uipath="button.continue"
                        th:text="#{btn.label.continue}"></button>

            </form>
        </div>
    </div>
</main>

</body>
</html>
