<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="(${errorSummary}? #{common.title.error} : '')  + #{save.progress.title}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l" th:text="#{save.progress.title}"></h1>

            <form th:action="@{/save-progress}" th:object="${formRequest}" method="POST" novalidate>

                <div class="govuk-inset-text">
                    <p class="govuk-body" th:text="#{${JOURNEY.who} + 'save.progress.title.hint'}"></p>
                </div>

                <div th:replace="~{ fragments/govuk-input :: govuk-input(#{save.progress.email.label}, 'emailAddress', #{save.progress.email.hint}, 'text', null)}"></div>
                <div th:class="${hidePostcode} ? govuk-visually-hidden">
                    <div th:replace="~{ fragments/govuk-input :: govuk-input(#{save.progress.postcode.label}, 'postcode', null, 'text', 'govuk-!-width-one-third')}"></div>
                </div>
                <button type="submit"
                        class="govuk-button"
                        data-uipath="button.continue"
                        th:text="#{btn.label.continue}"></button>

            </form>
        </div>
    </div>
</main>

</body>
</html>
