<!DOCTYPE HTML>
<html class="govuk-template" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="#{common.title.suffix}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b0c0c" />
    <meta name="robots" content="noindex, nofollow">


    <link rel="shortcut icon" th:href="@{/govuk/images/favicon.ico}" type="image/x-icon" />
    <link rel="mask-icon" th:href="@{/govuk/images/govuk-mask-icon.svg}" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/govuk/images/govuk-apple-touch-icon-180x180.png}">
    <link rel="apple-touch-icon" sizes="167x167" th:href="@{/govuk/images/govuk-apple-touch-icon-167x167.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/govuk/images/govuk-apple-touch-icon-152x152.png}">
    <link rel="apple-touch-icon" th:href="@{/govuk/images/govuk-apple-touch-icon.png}">

    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/dft-frontend.css}">
    <!--<![endif]-->

    <!--[if IE 8]>
        <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/dft-frontend-ie8.css}">
    <![endif]-->

    <!--[if lt IE 9]>
        <script src="/js/html5-shiv.js"></script>
    <![endif]-->

    <th:block th:if="${@environment.getProperty('GACode')}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async th:src="'https://www.googletagmanager.com/gtag/js?id='+${@environment.getProperty('GACode')}"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', [[${@environment.getProperty('GACode')}]], {'anonymize_ip': true });
    /*]]>*/
    </script>
    </th:block>

</head>

<body class="govuk-template__body">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div th:unless="${@cookieUtils.isCookieBannerSet()}">
        <div th:replace="~{ fragments/govuk-cookie-banner :: govuk-cookie-banner }"></div>
    </div>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <header th:replace="~{ fragments/govuk-header :: govuk-header }"></header>

    <div class="govuk-width-container">
        <div th:replace="~{ fragments/govuk-header :: govuk-phase-banner }"></div>
        <div class="govuk-main-wrapper" id="main-content">

        <div class="govuk-grid-row" th:if="${errorSummary}">
            <div class="govuk-grid-column-two-thirds">
                <div th:replace="~{ fragments/errors :: govuk-error-summary(${errorSummary}) }"></div>
            </div>
        </div>

            <main layout:fragment="content"></main>

        </div>
    </div>

    <footer th:replace="~{ fragments/govuk-footer :: govuk-footer }"></footer>

    <script th:src="@{/js/dft-frontend.js}"></script>
</body>
</html>


