.guidance-layout {
	word-wrap: break-word;
	background-color: govuk-colour("blue");
	padding: govuk-spacing(8) govuk-spacing(6) govuk-spacing(6);

	.govuk-list,
	.govuk-body,
	.govuk-body-l,
	.govuk-heading-l,
	.govuk-heading-m, {
		color: govuk-colour("white");
	}

	.govuk-button {
		color: govuk-colour("blue");
		background-color: govuk-colour("white");

		&:hover,
		&:focus {
			color: govuk-colour("blue");
			background-color: #f2f2f2;
		}
	}

	a {
		color: govuk-colour("white");

		&:hover {
			color: #e6e6e6;
		}
	}
}
