blue-badge:
  auth-server:
    url: https://authorisation-service.${bb_env}.${url}/bb_auth
  referencedataservice:
    servicehost:
      host: reference-service.${bb_env}.${url}
      port: 443
      scheme: https
  applicationmanagementservice:
    servicehost:
      host: application-service.${bb_env}.${url}
      port: 443
      scheme: https

management:
  server:
    port: ${bb_health:-8081}

server:
  port: ${bb_port:-8080}
  
# Google Analytics Code
GACode:  ${GACODE:UA-124760983-5}

spring:
  main:
    banner-mode: "off"
  redis:
    host:
    cluster:
      nodes: redis.elasticache-citizen.${bb_env}.${url}:6379

amazon:
  s3bucket: ${bb_application_tmp_bucket}
