<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="(${errorSummary}? #{common.title.error} : '')  + #{${JOURNEY.who} + 'medication.add.page.title'}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l" th:text="#{medication.add.body.title}"></h1>

            <form th:action="@{/add-medication}" th:object="${formRequest}" method="POST" novalidate>

                <div th:replace="~{ fragments/govuk-input :: govuk-input(#{medication.name}, 'name', null, 'text', 'govuk-!-width-one-half')}"></div>

                <div th:replace="~{ fragments/govuk-radios :: govuk-radios('prescribed', ${yesNoRadioOptions}) }"></div>

                <div th:replace="~{ fragments/govuk-input :: govuk-input(#{${JOURNEY.who} + 'medication.dosage'}, 'dosage', #{medication.dosage.hint.text}, 'text', 'govuk-!-width-one-half')}"></div>

                <div th:replace="~{ fragments/govuk-input :: govuk-input(#{${JOURNEY.who} + 'medication.frequency'}, 'frequency', #{medication.frequency.hint.text}, 'text', 'govuk-!-width-one-half')}"></div>

                <button type="submit"
                        class="govuk-button"
                        data-uipath="button.continue"
                        id="button.add.medication"
                        th:text="#{medication.add.button}"></button>

                <div class="govuk-inset-text">
                    <p class="govuk-body" th:text="#{medication.footer.hint.text}"></p>
                </div>

            </form>

        </div>
    </div>
</main>

</body>
</html>
