<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="(${errorSummary}? #{common.title.error} : '')  + #{${JOURNEY.who} + 'whatMakesWalkingDifficult.title'}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form th:action="@{/what-makes-walking-difficult}" th:object="${formRequest}" method="post" novalidate>

                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading" th:text="#{${JOURNEY.who} + 'whatMakesWalkingDifficult.title'}"></h1>
                    </legend>
                    <div class="govuk-form-group" th:class="${#fields.hasErrors('whatWalkingDifficulties')} ? 'govuk-form-group govuk-form-group--error' : 'govuk-form-group'">

                        <span class="govuk-error-message"
                              data-uipath="whatWalkingDifficulties.error"
                              th:errors="*{whatWalkingDifficulties}"></span>

                        <div id="walking-difficulties-list" class="govuk-checkboxes" data-module="checkboxes" >
                            <div th:remove="tag" th:each="checkboxOption, iterStat: ${walkingDifficulties.options}"
                                 th:with="optionalElId=${checkboxOption.shortCode} +'-conditional'">

                                <div class="govuk-checkboxes__item" th:if="${iterStat.index == 0}">
                                    <input class="govuk-checkboxes__input"
                                           type="checkbox"
                                           th:field="*{whatWalkingDifficulties}"
                                           id="whatWalkingDifficulties"
                                           th:name="whatWalkingDifficulties"
                                           th:value="${checkboxOption.shortCode}"
                                           th:attr="data-aria-controls=${optionalElId}">
                                    <label class="govuk-label govuk-checkboxes__label"
                                           for="whatWalkingDifficulties"
                                           th:text="#{${checkboxOption.messageKey}}"></label>
                                </div>

                                <div class="govuk-checkboxes__item" th:unless="${iterStat.index == 0}">
                                    <input class="govuk-checkboxes__input"
                                           type="checkbox"
                                           th:field="*{whatWalkingDifficulties}"
                                           th:id="'whatWalkingDifficulties' + ${checkboxOption.shortCode}"
                                           th:name="whatWalkingDifficulties"
                                           th:value="${checkboxOption.shortCode}"
                                           th:attr="data-aria-controls=${optionalElId}">
                                    <label class="govuk-label govuk-checkboxes__label"
                                           th:for="'whatWalkingDifficulties' + ${checkboxOption.shortCode}"
                                           th:text="#{${checkboxOption.messageKey}}"></label>
                                </div>

                                <div th:if="${checkboxOption.shortCode == 'PAIN'}" class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                                     th:id="${optionalElId}">
                                    <div th:replace="~{ fragments/govuk-textarea :: govuk-textarea(#{${JOURNEY.who} + whatMakesWalkingDifficult.select.pain.desc}, 'painDescription', null, 3)}"></div>
                                </div>

                                <div th:if="${checkboxOption.shortCode == 'BALANCE'}" class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                                     th:id="${optionalElId}">
                                    <div th:replace="~{ fragments/govuk-textarea :: govuk-textarea(#{${JOURNEY.who} + whatMakesWalkingDifficult.select.balance.desc}, 'balanceDescription', #{${JOURNEY.who} + whatMakesWalkingDifficult.select.balance.hint}, 3)}"></div>

                                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('healthProfessionsForFalls')} ? 'govuk-form-group--error'">
                                        <fieldset class="govuk-fieldset">
                                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s" th:text="#{${JOURNEY.who} + whatMakesWalkingDifficult.select.balance.hcpFalls}"/>
                                            <span class="govuk-error-message"
                                                  data-uipath="painDescription.error"
                                                  th:if="${#fields.hasErrors('healthProfessionsForFalls')}"
                                                  th:errors="*{healthProfessionsForFalls}" />

                                            <div class="govuk-radios govuk-radios--inline" data-module="radios">

                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input"
                                                           type="radio"
                                                           value="true"
                                                           th:field="*{healthProfessionsForFalls}">

                                                    <label class="govuk-label govuk-radios__label" th:for="${#ids.prev('healthProfessionsForFalls')}" th:text="#{radio.option.yes}"></label>
                                                </div>

                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input"
                                                           type="radio"
                                                           value="false"
                                                           th:field="*{healthProfessionsForFalls}">

                                                    <label class="govuk-label govuk-radios__label" th:for="${#ids.prev('healthProfessionsForFalls')}" th:text="#{radio.option.no}"></label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>

                                </div>

                                <div th:if="${checkboxOption.shortCode == 'DANGER'}" class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                                     th:id="${optionalElId}">
                                    <div th:replace="~{ fragments/govuk-textarea :: govuk-textarea(#{${JOURNEY.who} + whatMakesWalkingDifficult.select.danger.desc}, 'dangerousDescription', null, 3)}"></div>

                                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('chestLungHeartEpilepsy')} ? 'govuk-form-group--error'">
                                        <fieldset class="govuk-fieldset">
                                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s" th:text="#{${JOURNEY.who} + whatMakesWalkingDifficult.select.danger.chestLung}"/>
                                            <span class="govuk-error-message"
                                                  data-uipath="painDescription.error"
                                                  th:if="${#fields.hasErrors('chestLungHeartEpilepsy')}"
                                                  th:errors="*{chestLungHeartEpilepsy}" />
                                            <div class="govuk-radios govuk-radios--inline" data-module="radios">

                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input"
                                                           type="radio"
                                                           value="true"
                                                           th:field="*{chestLungHeartEpilepsy}">

                                                    <label class="govuk-label govuk-radios__label" th:for="${#ids.prev('chestLungHeartEpilepsy')}" th:text="#{radio.option.yes}"></label>
                                                </div>

                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input"
                                                           type="radio"
                                                           value="false"
                                                           th:field="*{chestLungHeartEpilepsy}">

                                                    <label class="govuk-label govuk-radios__label" th:for="${#ids.prev('chestLungHeartEpilepsy')}" th:text="#{radio.option.no}"></label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div th:if="${checkboxOption.shortCode == 'BREATH'}" class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                                     th:id="${optionalElId}">
                                    <span class="govuk-body-m" th:text="#{${JOURNEY.who} + 'whatMakesWalkingDifficult.select.option.breathless.hint'}"></span>
                                </div>

                                <div th:if="${checkboxOption.shortCode == 'SOMELSE'}" class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                                     th:id="${optionalElId}">
                                    <div th:replace="~{ fragments/govuk-textarea :: govuk-textarea(#{${JOURNEY.who} + whatMakesWalkingDifficult.select.somethingelse.desc}, 'somethingElseDescription', null, 3)}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <button type="submit"
                        class="govuk-button"
                        data-uipath="button.continue"
                        th:text="#{btn.label.continue}"></button>

            </form>

        </div>
    </div>
</main>

</body>
</html>
