<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="fileUploader(label, name)">

    <div class="govuk-error-summary file-uploader-error" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title" th:text="#{fileUploader.error.title}"></h2>
        <div class="govuk-error-summary__body" th:text="#{fileUploader.error.content}"></div>
    </div>

    <div id="proveIdentity-fileUploaderContainer"
         th:data-label-mobile="#{fileUploader.label.mobile}"
         th:data-label-desktop="#{fileUploader.label.desktop}"
         th:data-label-multiFile-caption="#{fileUploader.label.multiFile.caption}"
         th:data-preview-title="#{fileUploader.preview.title}"
         th:data-preview-reset-button="#{fileUploader.preview.resetBtn}"
         th:data-preview-addFile-button="#{fileUploader.preview.addFileBtn}"
         th:data-loader-text="#{fileUploader.loaderText}"
         th:class="'govuk-form-group' + (${#fields.hasErrors('documentId')} == true ? ' govuk-form-group--error' : '')">

        <label class="govuk-label" th:for="${name}" th:text="${label}"></label>
        <span class="govuk-error-message" id="documentId-error" th:errors="*{__${'documentId'}__}"></span>
        <input class="govuk-file-upload"
               th:id="${name}"
               th:name="${name}"
               type="file"
               accept="image/jpeg,image/gif,image/png,application/pdf">
    </div>
</div>

</body>
</html>