<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="dft-fu-wrapper"
     th:fragment="fileUploader(label, name)"
     th:classappend="*{journeyArtifact} ? preview-mode"
     th:data-error-label="#{fileUploader.error.content}"
     th:data-error-label-reject="#{fileUploader.rejected.content}">

    <div id="dft-fu-wrapper__error"
         class="govuk-error-summary"
         aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">

        <h2 class="govuk-error-summary__title" id="error-summary-title" th:text="#{fileUploader.error.title}"></h2>
        <div id="dft-fu-wrapper__error-body" class="govuk-error-summary__body"></div>
    </div>


    <div class="preview" th:if="*{journeyArtifact}">
        <h3 class="preview__heading" th:text="#{fileUploader.preview.title}"></h3>
        <div id="dft-fu-wrapper__previewHolder" class="preview__holder">
            <span th:if="*{journeyArtifact}" th:remove="tag">
                <div th:if="*{journeyArtifact.type == 'image'}" class="preview__item">
                    <img th:src="*{journeyArtifact.signedUrl}" th:alt="*{journeyArtifact.fileName}" alt="file name maybe - see henry">
                </div>

                <div th:if="*{journeyArtifact.type != 'image'}" class="preview__item">
                    <p>file name <span>(Preview unavailable)</span></p>
                </div>
            </span>
        </div>

        <button id="preview-reset-btn"
                class="preview__resetBtn"
                th:text="#{fileUploader.preview.resetBtn}">Use a different photo or scan</button>
    </div>

    <div id="dft-fu-wrapper__fileUploader"
         th:data-label-mobile="#{fileUploader.label.mobile}"
         th:data-label-desktop="#{fileUploader.label.desktop}"
         th:data-label-multiFile-caption="#{fileUploader.label.multiFile.caption}"
         th:data-preview-title="#{fileUploader.preview.title}"
         th:data-preview-reset-button="#{fileUploader.preview.resetBtn}"
         th:data-preview-addFile-button="#{fileUploader.preview.addFileBtn}"
         th:data-loader-text="#{fileUploader.loaderText}"
         th:class="'govuk-form-group' + (${#fields.hasErrors('journeyArtifact')} == true ? ' govuk-form-group--error' : '')">

        <label class="govuk-label" th:for="${name}" th:text="${label}"></label>
        <span class="govuk-error-message" id="documentId-error" th:errors="*{__${'journeyArtifact'}__}"></span>
        <input class="govuk-file-upload"
               th:id="${name}"
               th:name="${name}"
               type="file"
               multiple
               accept="image/jpeg,image/gif,image/png,application/pdf">
    </div>
</div>

</body>
</html>