<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="dft-fu"
     th:fragment="fileUploader(name, options)"
     th:classappend="*{journeyArtifact} ? dft-fu--preview"
     th:data-ajax-request-url="${options.ajaxRequestUrl}"
     th:data-error-label-reject="#{${options.rejectErrorMessageKey}}">

    <div class="govuk-error-summary dft-fu-error-summary"
         aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">

        <h2 class="govuk-error-summary__title" th:text="#{${options.errorTitleMessageKey}}"></h2>
        <div class="govuk-error-summary__body dft-fu-error-summary__body"></div>
    </div>


    <div class="dft-fu-preview">
        <h3 class="dft-fu-preview__heading" th:text="#{${options.previewTitleMessageKey}}"></h3>

        <div class="dft-fu-preview__holder">
            <th:block th:each="artifact : *{journeyArtifact}" th:remove="tag">
                <div th:if="${artifact.type == 'image'}" class="dft-fu-preview__item">
                    <img th:src="${artifact.signedUrl}"
                         th:alt="${artifact.fileName}" alt="file name maybe - see henry">
                </div>

                <div th:if="${artifact.type != 'image'}" class="dft-fu-preview__item dft-fu-preview__item--unavailable">
                    <span th:text="${artifact.fileName}" th:remove="tag"></span>
                    <span th:text="#{fileUploader.preview.previewUnavailable}"></span>
                </div>
            </th:block>
        </div>

        <button class="dft-fu__add-file-button"
                th:if="${options.allowMultipleFileUploads}"
                th:text="#{fileUploader.addMore}"></button>

        <button class="dft-fu__reset-btn"
                th:text="#{${options.previewResetButtonMessageKey}}"></button>
    </div>

    <div th:data-label-mobile="#{${options.uploadButtonMobileMessageKey}}"
         th:data-label-desktop="#{${options.uploadButtonDesktopMessageKey}}"
         th:data-label-multiFile-caption="#{${options.multiFileCaptionMessageKey}}"
         th:data-loader-text="#{${options.loadingMessageKey}}"
         class="govuk-form-group dft-fu-file-uploader"
         th:classappend="${#fields.hasErrors('journeyArtifact')} == true ? ' govuk-form-group--error' : ''">

        <label class="govuk-label" th:for="${options.fieldName}" th:text="#{${options.fieldLabel}}"></label>
        <span class="govuk-error-message" th:errors="*{__${'journeyArtifact'}__}"></span>

        <p th:if="*{journeyArtifact}" class="govuk-body dft-fu-existing-file-label">You have already uploaded a file: <span th:text="*{journeyArtifact.fileName}"></span></p>

        <input type="file"
               class="govuk-file-upload dft-fu-file-upload"
               th:id="${name}"
               th:name="${options.fieldName}"
               th:multiple="${options.allowMultipleFileUploads}"
               th:accept="${options.allowedFileTypes}">
    </div>
</div>

</body>
</html>