<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    /* ------------------------------------------------------------------------------

    * Date Field

    @label - String: Label for form input field
    @hint - String: Adds hint for the input field underneath the label
    @Day - String: Name of day field
    @Month - String: Name of month field
    @year - String: Name of year field
    @name - String: Name for the form input field.

    -------------------------------------------------------------------------------- */

    <div th:fragment="govuk-date(label, hint, day, month, year, date)"
        th:class="${#fields.hasErrors(date)}? 'govuk-form-group govuk-form-group--error' : 'govuk-form-group'">

        <fieldset class="govuk-fieldset"
            th:aria-describedby="${hint} ? ${date} + '-hint'" role="group">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" th:if="${label}">
                <h1 th:text="${label}" data-uipath="${date} + '.legend'" class="govuk-fieldset__heading" />
            </legend>

            <span th:id="${date} + '-hint'" class="govuk-hint" th:if="${hint}" th:text="${hint}"></span>

            <span class="govuk-error-message"
                th:data-uipath="*{__${date}__} + '.error'"
                th:id="*{__${date}__} + '-error'"
                th:if="${#fields.hasErrors(date)}"
                th:errors="*{__${date}__}" />

            <div class="govuk-date-input" th:id="${date}">

                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" th:data-uipath="${date} + '.day.label'" th:attr="for=${day}">Day</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" th:data-uipath="${date} + '.day.field'" th:field="*{__${day}__}" autocomplete="off">
                    </div>
                </div>

                <div class="govuk-date-input__item" th:if="${month}">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" th:data-uipath="${date} + '.month.label'" th:attr="for=${month}">Month</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" th:data-uipath="${date} + '.month.field'"  th:field="*{__${month}__}" autocomplete="off">
                    </div>
                </div>

                <div class="govuk-date-input__item" th:if="${year}">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" th:data-uipath="${date} + '.year.label'" th:attr="for=${year}">Year</label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" type="number" th:data-uipath="${date} + '.year.field'" th:field="*{__${year}__}" autocomplete="off">
                    </div>
                </div>

            </div>
        </fieldset>
    </div>

</body>
</html>