<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

/* ------------------------------------------------------------------------------

* Error Summary

@title - String: Overrides default error title
@description - String: Adds description message to the error summary

Individual input field errors will be displayed automatically
if form validation fails. These errors are included inside the fields
variable which comes from Thymleaf / Spring integration.


-------------------------------------------------------------------------------- */
<div th:fragment="task-list-status-tag(taskState, id)" th:remove="tag">
    <th:block th:with="tagCSSSuffixes=${ {NOT_STARTED:'not-started', IN_PROGRESS:'in-progress', COMPLETED:'completed'} }">
        <strong class="app-task-list__task-tag" th:classappend="'app-task-list__task-tag--' + ${tagCSSSuffixes.get(#strings.toString(taskState))}" th:text="#{'taskList.task.state.' + ${#strings.toString(taskState)}}" th:id="${id}"></strong>
    </th:block>
</div>

<div th:fragment="task-list-group(tasks, title, count)" th:remove="tag">
    <li>
        <h2 class="app-task-list__section">
            <span class="app-task-list__section-number" th:text="${count} + '.'"></span>
            <span th:text="${title}"></span>
        </h2>

        <ul class="app-task-list__items">
            <li th:each="task : ${tasks}" class="app-task-list__item">
                <th:block th:with="describeById=${#strings.randomAlphanumeric(4) + '-' + #strings.randomAlphanumeric(4)}">
                    <a th:href="${task.url}" class="app-task-list__task-name" th:aria-describedby="${describeById}" th:text="#{${task.titleCode}}"></a>
                    <div th:replace="~{ fragments/tags :: task-list-status-tag(${task.taskState}, ${describeById})}"></div>
                </th:block>
            </li>
        </ul>
    </li>
</div>

</body>

</html>

