<!DOCTYPE html>
<html
        th:data-ga-track-page="${JOURNEY.getEligibilityCode()}"
        data-ga-track-page-category="eligibility"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{'hiddenDisabilities.title'}"></title>
</head>
<body>

<main layout:fragment="content">
    <section class="guidance-layout">

        <div class="govuk-!-width-three-quarters">
            <form th:action="@{/hidden-disabilities}" method="POST" novalidate>
                <h1 data-uipath="hiddenDisabilities.title" class="govuk-heading-l"
                    th:text="#{'hiddenDisabilities.title'}"></h1>
                <p class="govuk-body" th:text="#{hiddenDisabilities.p1}"></p>
                <p class="govuk-body" th:text="#{hiddenDisabilities.p2}"></p>
                <p class="govuk-body" th:text="#{${JOURNEY.who} + 'hiddenDisabilities.p3'}"></p>
                <button type="submit"
                        class="govuk-button"
                        data-uipath="hiddenDisabilities.returnLink"
                        th:text="#{hiddenDisabilities.returnLink}"></button>
            </form>
        </div>
    </section>


</main>

</body>
</html>
