<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="'Page not found - ' + #{common.title.suffix}"></title>
</head>
<body>

<main layout:fragment="content">

    <h1 class="govuk-heading-l">Page not found</h1>

    <p class="govuk-body">If you typed the web address, check it is correct.</p>

    <p class="govuk-body">If you pasted the web address check you copied the entire address.</p>

    <a href="/" class="govuk-button">Return to start</a>

</main>

</body>
</html>
