<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:utext="#{common.title.suffix}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column">

            <h1>There was an error. Please try again later.</h1>

            <p th:text="'Message: ' + ${errorMessage}"></p>

            <p th:text="'Exception Message: ' + ${exceptionMessage}"></p>

        </div>
    </div>
</main>

</body>
</html>
