<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="(${errorSummary}? #{common.title.error} : '') + #{declarationPage.title}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l" th:text="#{declarationPage.title}"></h1>

            <p class="govuk-body" th:text="#{${JOURNEY.who} + 'declarationPage.content.p1'}"></p>

            <ul class="govuk-list govuk-list--bullet">
                <li th:text="#{${JOURNEY.who} + 'declarationPage.content.ul.one'}"></li>
                <li th:if="${JOURNEY.who == 'oth'}" th:text="#{${JOURNEY.who} + 'declarationPage.content.ul.extra'}"></li>
                <li th:text="#{${JOURNEY.who} + 'declarationPage.content.ul.two'}"></li>
                <li th:text="#{${JOURNEY.who} + 'declarationPage.content.ul.three'}"></li>
                <li th:text="#{${JOURNEY.who} + 'declarationPage.content.ul.four'(${localAuthority.description})}"></li>
            </ul>

            <p class="govuk-body" th:text="#{${JOURNEY.who} + 'declarationPage.content.p2'(${localAuthority.description})}"></p>

            <ul class="govuk-list govuk-list--bullet">
                <li th:text="#{${JOURNEY.who} + 'declarationPage.content.ul.five'}"></li>                
               	<li th:if="${! JOURNEY.automaticEligibilityType}" th:text="#{${JOURNEY.who} + 'declarationPage.content.ul.six'}"></li>
                <li th:text="#{${JOURNEY.who} + 'declarationPage.content.ul.seven'}"></li>
                <li th:text="#{${JOURNEY.who} + 'declarationPage.content.ul.eight'}"></li>
            </ul>

            <form data-prevent-double-submission th:action="@{/apply-for-a-blue-badge/declaration}" th:object="${formRequest}" method="post" novalidate>
                <div th:class="${#fields.hasErrors('agreed')} ? 'govuk-form-group govuk-form-group--error' : 'govuk-form-group'">

                    <span class="govuk-error-message" th:if="${#fields.hasErrors('agreed')}" th:errors="*{agreed}"></span>

                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" th:field="*{agreed}" id="agreed" data-uipath="declaration.option" type="checkbox">
                            <label class="govuk-label govuk-checkboxes__label" for="agreed"
                                   th:text="#{${JOURNEY.who} + 'declarationPage.checkbox.label'}"></label>
                        </div>
                    </div>
                </div>

                <button type="submit" class="govuk-button" data-uipath="button.continue" th:text="#{declarationPage.submit.button.label}"></button>
            </form>

        </div>
    </div>
</main>

</body>
</html>
