<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:utext="#{submittedPage.title} + ' - ' + #{common.title.suffix}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title govuk-!-margin-top-5" th:text="#{submittedPage.title}"></h1>

                <!-- Code commented out for when we display the reference number on this page -->
                <!-- <div class="govuk-panel__body">
                    Your reference number<br><strong>HDJ2123F</strong>
                </div> -->
            </div>

            <h2 class="govuk-heading-m" th:text="#{submittedPage.content.title}"></h2>

            <p class="govuk-body" th:text="#{${mainMessage}}"></p>

            <p class="govuk-body">
                <a target="_blank" href="https://www.smartsurvey.co.uk/s/XIYJ6/" th:text="#{submittedPage.content.feedback.link}"></a>
                <span th:remove="tag" th:text="#{submittedPage.content.feedback}"></span>
            </p>

            <p class="govuk-body" th:text="#{submittedPage.content.p2}"></p>

        </div>

    </div>

</main>

</body>
</html>
