<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{submittedPage.title}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title govuk-!-margin-top-2" th:text="#{submittedPage.title}"></h1>

                <!-- Code commented out for when we display the reference number on this page -->
                <!-- <div class="govuk-panel__body">
                    Your reference number<br><strong>HDJ2123F</strong>
                </div> -->
            </div>

            <p class="govuk-body govuk-!-margin-top-7" th:if="!${#strings.isEmpty(contactEmail)}">
                <span th:remove="tag" th:text="#{submittedPage.email.sent}"></span>
                <span class="govuk-!-font-weight-bold" th:text="${contactEmail}"></span><span th:remove="tag">.</span>
            </p>

            <p class="govuk-body" data-uipath="p.paymentSuccessfulText" th:if="${JOURNEY.paymentSuccessful}" th:text="#{submittedPage.content.paymentdone.pretext(${JOURNEY.badgeCost})}"/>

            <h2 class="govuk-heading-m" th:text="#{submittedPage.content.title}"></h2>

            <p class="govuk-body" th:if="${!JOURNEY.nationWales && !JOURNEY.paymentSuccessful}">
                <span th:remove="tag" th:text="#{'submittedPage.content.notwales.payment.pretext'}"></span>
                <a th:href="${JOURNEY.localAuthority.contactUrl}" th:text="${JOURNEY.localeAwareLocalAuthority.description}"></a>
                <span th:remove="tag" th:text="#{${JOURNEY.who} + 'submittedPage.content.notwales.payment.posttext'}"></span>
            </p>

            <p class="govuk-body">
                <span th:remove="tag" th:text="#{${JOURNEY.who} + 'submittedPage.content.p1.pretext'}"></span>
                <a th:href="${JOURNEY.localAuthority.contactUrl}"
                   th:text="${JOURNEY.localeAwareLocalAuthority.description}"></a>
                <span th:remove="tag" th:text="#{${JOURNEY.who} + 'submittedPage.content.p1.posttext'}"></span>
            </p>
            <p class="govuk-body" th:text="#{submittedPage.content.p2}"></p>

            <p class="govuk-body">
                <a data-uipath="feedback.link" href="https://www.gov.uk/done/apply-blue-badge" th:text="#{submittedPage.content.feedback.link}"></a>
                <span th:remove="tag" th:text="#{submittedPage.content.feedback}"></span>
            </p>
            <p class="govuk-body" th:text="#{submittedPage.content.p3}"></p>

            <h2 class="govuk-heading-m govuk-!-margin-top-5" th:text="#{submittedPage.content2.title}"></h2>
            <p class="govuk-body">
                <span th:remove="tag" th:text="#{${JOURNEY.who} + 'submittedPage.content2.p1.pretext'}"></span>
                <a th:href="${JOURNEY.localAuthority.contactUrl}"
                   th:text="' ' + ${JOURNEY.localeAwareLocalAuthority.description} + ' ' + #{'submittedPage.content2.p1.link.posttext'}"></a>
            </p>

        </div>

    </div>

</main>

</body>
</html>
