<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="(${errorSummary}? #{common.title.error} : '')  + #{${JOURNEY.who} + 'contact.page.title'}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l" th:text="#{${JOURNEY.who} + 'contact.body.title'}"></h1>

            <form th:action="@{/contact-details}" th:object="${formRequest}" method="POST" novalidate>

                <!-- fullName -->
                <div th:if="${!JOURNEY.isApplicantYourself()}" th:remove="tag">
                    <div th:replace="~{ fragments/govuk-input :: govuk-input(#{contact.fullName.field.label}, 'fullName', #{contact.fullName.field.hint}, 'text', null)}"></div>
                </div>

                <div th:replace="~{ fragments/govuk-input :: govuk-input(#{contact.emailAddress.field.label}, 'emailAddress', #{${JOURNEY.who} + contact.emailAddress.field.hint}, 'text', null)}"></div>
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text" id="emailAddressDetails" th:text="#{contact.emailAddress.field.continue.title}"></span>
                    </summary>

                    <div class="govuk-details__text">
                        <p class="govuk-heading-s" th:text="#{${JOURNEY.who} + contact.emailAddress.field.continue.heading}"></p>

                        <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" th:field="*{continueWithoutEmailAddress}" id="continueWithoutEmailAddress" data-uipath="emailAddress.option" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label" for="continueWithoutEmailAddress"
                                       th:text="#{contact.emailAddress.field.continue.content}"></label>
                            </div>
                        </div>
                    </div>
                </details>

                <div th:replace="~{ fragments/govuk-input :: govuk-input(#{contact.primaryPhoneNumber.field.label}, 'primaryPhoneNumber', #{contact.primaryPhoneNumber.field.hint}, 'text', 'govuk-input--width-20')}"></div>
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text" id="primaryPhoneNumberDetails" th:text="#{contact.primaryPhoneNumber.primaryPhoneNumberDetails.title}"></span>
                    </summary>

                    <div class="govuk-details__text">
                        <p th:text="#{${JOURNEY.who} + contact.primaryPhoneNumber.primaryPhoneNumberDetails.content}"></p>
                    </div>
                </details>


                <div th:replace="~{ fragments/govuk-input :: govuk-input(#{contact.secondaryPhoneNumber.field.label}, 'secondaryPhoneNumber', null, 'text', 'govuk-input--width-20')}"></div>

                <button type="submit" class="govuk-button" data-uipath="button.continue" th:text="#{btn.label.continue}"></button>

            </form>

        </div>
    </div>
</main>

</body>
</html>
