<!DOCTYPE html>
<html
        th:data-ga-track-page="${JOURNEY.getEligibilityCode()}"
        data-ga-track-page-category="eligibility"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{${JOURNEY.who} + 'eligiblePage.title'}"></title>
</head>
<body>

<main layout:fragment="content">
    <section class="guidance-layout">
        <div class="govuk-!-width-three-quarters">
            <h1 class="govuk-heading-l"
                th:text="#{${JOURNEY.who} + 'eligiblePage.title'}"></h1>
            <p class="govuk-body" th:text="#{eligiblePage.need.provide.text}"></p>

            <ul class="govuk-list govuk-list--bullet">
                <li th:if="${JOURNEY.eligibilityCodePIP}" th:text="#{${JOURNEY.who} + 'eligiblePage.proof.document.pip'}"></li>
                <li th:if="${JOURNEY.eligibilityCodeDLA}" th:text="#{${JOURNEY.who} + 'eligiblePage.proof.document.dla'}"></li>

                <li th:text="#{${JOURNEY.who} + 'eligiblePage.proof.id'}"></li>
                <li th:text="#{${JOURNEY.who} + 'eligiblePage.proof.address'}"></li>

                <li th:if="${JOURNEY.relatedDocumentProofNeeded}" th:text="#{${JOURNEY.who} + 'eligiblePage.proof.document.any'}"></li>
            </ul>

            <p class="govuk-body"><a href="#submit_docs_id" th:text="#{eligiblePage.help.submitting.docs}"></a></p>

            <p class="govuk-body" th:text="#{eligiblePage.also.need.provide.text}"></p>
            <ul class="govuk-list govuk-list--bullet">
                <li th:text="#{${JOURNEY.who} + 'eligiblePage.nino.text'}"></li>
                <li th:text="#{eligiblePage.provide.contact.text}"></li>
                <li th:text="#{${JOURNEY.who} + 'eligiblePage.provide.photo.text'}"></li>
                <li th:if="${JOURNEY.eligibilityCodeBLIND}" th:text="#{${JOURNEY.who} + 'eligiblePage.proof.also.blind'}"></li>
            </ul>

            <a th:href="@{eligible/start}"
               role="button"
               class="govuk-button"
               th:text="#{eligiblePage.startApplication.link.title}"></a>

            <p class="govuk-body">
                <span th:remove="tag" th:text="#{${JOURNEY.who} + 'eligiblePage.council.timeframe.text'}"></span>
                <a th:href="${JOURNEY.localAuthority.contactUrl}" th:text="${JOURNEY.localeAwareLocalAuthority.description} + '.'"></a>
            </p>

            <p class="govuk-body" th:if="${JOURNEY.paymentsEnabled}" th:text="#{${JOURNEY.who} + 'eligiblePage.paymentsEnabled.content.p2'(${JOURNEY.localeAwareLocalAuthority.description}, ${JOURNEY.badgeCost})}">
            </p>

            <p class="govuk-body" th:unless="${JOURNEY.paymentsEnabled}" th:text="#{${JOURNEY.nation} + '.eligiblePage.paymentsNotEnabled.content.p2'(${JOURNEY.localeAwareLocalAuthority.description})}">
            </p>

            <h2 class="govuk-heading-m" th:text="#{eligiblePage.not.apply.online.text}"></h2>

            <p class="govuk-body">
            <span th:remove="tag" th:text="#{eligiblePage.council.contact.pretext}"></span>
                <a th:href="${JOURNEY.localAuthority.contactUrl}"
                   th:text="${JOURNEY.localeAwareLocalAuthority.description} + #{eligiblePage.council.contact.posttext}"></a>
            </p>

            <h2 id="submit_docs_id" class="govuk-heading-m" th:text="#{eligiblePage.submitting.docs}"></h2>
            <p class="govuk-body">
                <span th:text="#{eligiblePage.submitting.docs.p1.pre}"/>
                <a th:href="${JOURNEY.localAuthority.contactUrl}" th:text="#{'eligiblePage.submitting.docs.link'(${JOURNEY.localeAwareLocalAuthority.description})}"></a>
                <span th:text="#{${JOURNEY.who} + 'eligiblePage.submitting.docs.p1.post'}"/>
            </p>

        </div>
    </section>


</main>

</body>
</html>
