<!DOCTYPE html>
<html
        th:data-ga-track-page="${JOURNEY.getEligibilityCode()}"
        data-ga-track-page-category="eligibility"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{${JOURNEY.who} + 'eligiblePage.title'}"></title>
</head>
<body>

<main layout:fragment="content">

    <section class="guidance-layout">
        <div class="govuk-!-width-three-quarters">
            <h1 class="govuk-heading-l"
                th:text="#{${JOURNEY.who} + 'eligiblePage.title'}"></h1>

            <h2 class="govuk-body-l" th:text="#{${JOURNEY.who} + 'eligiblePage.need.provide.text'}"></h2>

            <p class="govuk-body"
               th:text="#{eligiblePage.photo.or.scan.text}"></p>

            <ul class="govuk-list govuk-list--bullet">
                <li th:text="#{eligiblePage.proof.of.identity.text}"></li>
            </ul>

            <p class="govuk-body" th:text="#{eligiblePage.also.need.provide.text}"></p>

            <ul class="govuk-list govuk-list--bullet">
                <li th:text="#{${JOURNEY.who} + 'eligiblePage.nino.text'}"></li>
                <li th:text="#{eligiblePage.provide.contact.text}"></li>
            </ul>

            <a th:href="@{may-be-eligible/start}"
               role="button"
               class="govuk-button"
               th:text="#{eligiblePage.startApplication.link.title}"></a>

            <p class="govuk-body">
                <span th:remove="tag" th:text="#{${JOURNEY.who} + 'eligiblePage.council.timeframe.text'}"></span></br>
                <a th:href="${localAuthority.contactUrl}" th:text="${localAuthority.description}"></a><span th:remove="tag"
                                                                                                            th:text="#{eligiblePage.website.posttext}"></span>
            </p>
        </div>
    </section>


</main>

</body>
</html>
