<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="(${errorSummary}? #{common.title.error} : '')  + #{${JOURNEY.who} + 'enterAddressPage.title'}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form th:action="@{/enter-address}" th:object="${formRequest}" method="POST" novalidate>
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading" th:text="#{${JOURNEY.who} + 'enterAddressPage.body.title'}"></h1>
                    </legend>

                    <div th:replace="~{ fragments/govuk-input :: govuk-input-with-hidden-label(#{enterAddressPage.buildingAndStreet.field.label}, #{enterAddressPage.buildingAndStreet.field.label.hidden.lineOne}, 'buildingAndStreet', null, 'text')}"></div>

                    <div th:replace="~{ fragments/govuk-input :: govuk-input-with-hidden-label(null, #{enterAddressPage.buildingAndStreet.field.label.hidden.lineTwo}, 'optionalAddress', null, 'text')}"></div>

                    <div th:replace="~{ fragments/govuk-input :: govuk-input(#{enterAddressPage.townOrCity.field.label}, 'townOrCity', null, 'text', 'govuk-!-width-two-thirds')}"></div>

                    <div th:replace="~{ fragments/govuk-input :: govuk-input(#{enterAddressPage.postcode.field.label}, 'postcode', null, 'text', 'govuk-input--width-10')}"></div>

                </fieldset>

                <button type="submit"
                        class="govuk-button"
                        data-uipath="button.continue"
                        th:text="#{btn.label.continue}"></button>

                </form>


        </div>
    </div>
</main>

</body>
</html>
