<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{healthConditionsPage.title} + ' - ' + #{common.title.suffix}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l" th:text="#{${JOURNEY.who} + 'healthConditionsPage.body.title'}"></h1>
            
            <div th:replace="~{ fragments/errors :: govuk-error-summary(${errorSummary}) }"></div>

            <div th:remove="tag" th:if="${JOURNEY.getEligibilityCode().name() == 'WALKD'}">
                <div th:if="${JOURNEY.who == 'you.'}">
                    <p class="govuk-body">Provide details of:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>the names of the conditions which affect your walking</li>
                        <li>any healthcare professionals involved in the treatment of your conditions</li>
                    </ul>
                </div>
                <div th:if="${JOURNEY.who == 'oth.'}">
                    <p class="govuk-body">Provide details of:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>the names of the conditions which affect their walking</li>
                        <li>any healthcare professionals involved in the treatment of their conditions</li>
                    </ul>
                </div>
            </div>

            <form th:action="@{/health-conditions}" th:object="${formRequest}" method="post" novalidate>

                <div th:class="${#fields.hasErrors('descriptionOfConditions')} ? 'govuk-form-group govuk-form-group--error' : 'govuk-form-group'">

                    <label class="govuk-label" for="descriptionOfConditions" th:text="#{healthConditionsPage.descriptionOfConditions}"></label>

                    <span class="govuk-error-message"
                          data-uipath="descriptionOfConditions.error"
                          th:errors="*{descriptionOfConditions}"></span>

                    <textarea class="govuk-textarea govuk-textarea--fixed" th:field="*{descriptionOfConditions}"
                              id="descriptionOfConditions" rows="5" name="descriptionOfConditions"
                              data-uipath="healthconditions.text"></textarea>
                </div>

                <button type="submit"
                        class="govuk-button"
                        data-uipath="button.continue"
                        th:text="#{btn.label.continue}"></button>

            </form>

        </div>
    </div>
</main>

</body>
</html>
