<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="(${errorSummary}? #{common.title.error} : '')  + #{healthConditionsPage.title}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l"
                th:text="#{${JOURNEY.eligibilityCode} + '.' + ${JOURNEY.who} + 'healthConditionsPage.body.title'}"></h1>

            <form th:action="@{/health-conditions}" th:object="${formRequest}" method="post" novalidate>
                <div>
                    <div class="govuk-inset-text"
                         th:text="#{${JOURNEY.who} + 'healthConditionsPage.hint'}"
                         th:id="'descriptionOfConditions-hint'"
                         th:data-uipath="${name} + '.label_hint'"></div>

                    <div th:replace="~{ fragments/govuk-textarea :: govuk-textarea(#{healthConditionsPage.descriptionOfConditions}, 'descriptionOfConditions', null, 10)}"></div>
                </div>
                <button type="submit"
                        class="govuk-button"
                        data-uipath="button.continue"
                        th:text="#{btn.label.continue}"></button>

            </form>

        </div>
    </div>
</main>

</body>
</html>
