<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="(${errorSummary}? #{common.title.error} : '')  + #{healthcare.professional.add.page.title}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l" th:text="#{healthcare.professional.add.body.title}"></h1>

            <form th:action="@{/add-healthcare-professional}" th:object="${formRequest}" method="POST" novalidate>

                <div th:replace="~{ fragments/govuk-input :: govuk-input(#{${JOURNEY.who} + 'healthcare.professional.add.name.text'}, 'healthcareProfessionalName', null, 'text', 'govuk-!-width-one-half')}"></div>

                <div th:replace="~{ fragments/govuk-input :: govuk-input(#{${JOURNEY.who} + 'healthcare.professional.add.location.text'}, 'healthcareProfessionalLocation', null, 'text', 'govuk-!-width-one-half')}"></div>

                <button type="submit"
                        class="govuk-button"
                        data-uipath="button.continue"
                        id="button.add.healthcare.professional"
                        th:text="#{btn.label.continue}"></button>

                <div class="govuk-inset-text">
                    <p class="govuk-body" th:text="#{healthcare.professional.footer.hint.text}"></p>
                </div>

            </form>

        </div>
    </div>
</main>

</body>
</html>
