<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="(${errorSummary}? #{common.title.error} : '')  + #{${JOURNEY.who} + 'issuingAuthorityPage.title'}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l" th:text="#{${JOURNEY.who} + 'issuingAuthorityPage.title'}"></h1>

            <p class="govuk-body">
                <strong th:text="${formRequest.localAuthorityDescription}" data-uipath="localAuthority"></strong>
                <span th:remove="tag"
                      th:text="#{${JOURNEY.who} + 'issuingAuthorityPage.content.p1'}"></span>
            </p>

            <form th:action="@{/your-issuing-authority}" method="post" th:object="${formRequest}" novalidate>
                <input type="hidden" th:field="*{localAuthorityShortCode}">
                <input type="hidden" th:field="*{localAuthorityDescription}">
                <button type="submit" class="govuk-button" data-uipath="button.continue" th:text="#{btn.label.continue}"></button>
            </form>

            <p class="govuk-body">
                <a th:href="@{/your-issuing-authority-choose-council}"
                   th:text="#{${JOURNEY.who} + 'issuingAuthorityPage.link.thatsNotMyCouncil'}" data-uipath="thatsNotMyLocalCouncilLink"></a>
            </p>

        </div>
    </div>
</main>

</body>
</html>
