<!DOCTYPE html>
<html data-ga-track-page-category="eligibility"
      th:data-ga-track-page="${JOURNEY.getEligibilityCode()}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master.html}" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="#{${JOURNEY.who} + 'mayBeEligiblePage.title'}"></title>
</head>
<body>

    <main layout:fragment="content">

        <section class="guidance-layout">
            <div class="govuk-!-width-three-quarters">
                <h1 class="govuk-heading-l"
                    th:text="#{${JOURNEY.who} + 'mayBeEligiblePage.title'}"></h1>

                <h2 class="govuk-body-l" th:text="#{${JOURNEY.who} + 'eligiblePage.need.provide.text'}"></h2>

                <!-- WALKD only begin -->
                <div th:if="${isWalkD}">
                    <p class="govuk-body" th:text="#{${JOURNEY.who} + 'eligiblePage.provide.further.details.text'}"></p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li th:text="#{eligiblePage.use.mobility.aids.text}"></li>
                        <li th:text="#{${JOURNEY.who} + 'eligiblePage.take.medication.text'}"></li>
                        <li th:text="#{${JOURNEY.who} + 'eligiblePage.had.any.treatments.text'}"></li>
                    </ul>
                </div>
                <!-- WALKD only end -->

                <p class="govuk-body" th:text="#{eligiblePage.also.need.provide.text}"></p>

                <ul class="govuk-list govuk-list--bullet">
                    <li th:text="#{${JOURNEY.who} + 'eligiblePage.nino.text'}"></li>
                    <li th:text="#{eligiblePage.provide.contact.text}"></li>
                </ul>


                <a th:href="@{may-be-eligible/start}"
                   role="button"
                   class="govuk-button"
                   th:text="#{eligiblePage.startApplication.link.title}"></a>

                <p class="govuk-body">
                    <span th:remove="tag" th:text="#{${JOURNEY.who} + 'eligiblePage.council.timeframe.text'}"></span>
                    <a th:href="${localAuthority.contactUrl}" th:text="${localAuthority.description}"></a>
                    <span th:remove="tag" th:text="#{eligiblePage.website.posttext}"></span>
                </p>

                <h2 class="govuk-heading-m" th:text="#{eligiblePage.not.apply.online.text}">Don’t want to apply online?</h2>

                <p class="govuk-body" th:if="${localAuthority.contactUrl}">
                    <span th:remove="tag" th:text="#{eligiblePage.council.contact.pretext}">Website:</span>
                    <a th:href="${localAuthority.contactUrl}"
                       th:text="${localAuthority.description} + #{eligiblePage.council.contact.posttext}">
                        www.leedscitycouncil.gov.uk</a>
                </p>
            </div>
        </section>
    </main>

</body>
</html>
