<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:utext="#{${JOURNEY.applicantContextContent('mayBeEligiblePage.title')}} + ' - ' + #{common.title.suffix}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title govuk-!-margin-top-5" th:text="#{${JOURNEY.applicantContextContent('mayBeEligiblePage.title')}}"></h1>

                <!-- Code commented out for when we display the reference number on this page -->
                <!-- <div class="govuk-panel__body">
                    Your reference number<br><strong>HDJ2123F</strong>
                </div> -->
            </div>

            <h2 class="govuk-heading-m" th:text="#{${JOURNEY.applicantContextContent('mayBeEligiblePage.title')}}"></h2>

            <!--<p class="govuk-body" th:text="#{${JOURNEY.applicantContextContent('submittedPage.content.p1')}}"></p>

            <p class="govuk-body" th:text="#{submittedPage.content.p2}"></p>
            -->
            <a th:href="@{may-be-eligible/start}" class="govuk-button" th:text="#{startApplication.link.title}"></a>
        </div>

    </div>

</main>

</body>
</html>
