<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="(${errorSummary}? #{common.title.error} : '')  + #{mobility.aid.add.page.title}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l" th:text="#{mobility.aid.add.body.title}"></h1>

            <form th:action="@{/add-mobility-aid}" th:object="${formRequest}" method="POST" novalidate>
                <div th:replace="~{ fragments/govuk-input :: govuk-input(#{mobilityaid.type.field.label}, 'aidType', #{mobilityaid.type.field.hint}, 'text', 'govuk-!-width-full')}"></div>
                <div th:replace="~{ fragments/govuk-input :: govuk-input(#{${JOURNEY.who} + 'mobilityaid.usage.text'}, 'usage', #{mobilityaid.usage.hint.text}, 'text', 'govuk-!-width-full')}"></div>
                <div th:replace="~{ fragments/govuk-radios :: govuk-radios('howProvidedCodeField', ${howProvidedOptions}) }"></div>

                <button type="submit"
                        class="govuk-button"
                        data-uipath="button.continue"
                        id="mobility.aid.add.confirm"
                        th:text="#{btn.label.continue}"></button>

                <div class="govuk-inset-text">
                    <p class="govuk-body" th:text="#{mobilityaid.footer.hint.text}"></p>
                </div>

            </form>

        </div>
    </div>
</main>

</body>
</html>
