<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="(${errorSummary}? #{common.title.error} : '')  + #{${JOURNEY.who} + 'mobility.aid.list.page.title'}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form th:action="@{/list-mobility-aids}" th:object="${formRequest}" method="POST" novalidate>

                <div th:class="${#fields.hasErrors('hasWalkingAid')} ? 'govuk-form-group govuk-form-group--error' : 'govuk-form-group'">
                    <fieldset class="govuk-fieldset" id="hasWalkingAid">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading" th:text="#{${JOURNEY.who} + 'mobility.aid.list.body.title'}"></h1>
                        </legend>

                        <span class="govuk-error-message"
                              data-uipath="hasWalkingAid.error"
                              th:errors="*{hasWalkingAid}"></span>

                        <div class="govuk-radios" data-module="radios">

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="hasWalkingAidyes"
                                       type="radio" th:field="*{hasWalkingAid}"
                                       value="yes" data-aria-controls="conditional-hasWalkingAidyes" autocomplete="off">
                                <label class="govuk-label govuk-radios__label"
                                       for="hasWalkingAidyes"
                                       th:text="#{'radio.option.yes'}"></label>
                            </div>

                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                 id="conditional-hasWalkingAidyes">
                                <table class="govuk-table">
                                    <thead class="govuk-table__head" data-uipath="table.head">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="col"
                                            th:text="#{mobility.aid.list.table.header.col1}"></th>
                                        <th class="govuk-table__header" scope="col"
                                            th:text="#{mobility.aid.list.table.header.col2}" colspan="2"></th>
                                    </tr>
                                    </thead>

                                    <tbody class="govuk-table__body" data-uipath="table.body">
                                    <tr class="govuk-table__row" th:each="aid, iStat : *{mobilityAids}">
                                        <td class="govuk-table__cell" th:text="${aid.aidTypeDescription}"></td>
                                        <td class="govuk-table__cell" th:text="${aid.usage}"></td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric">
                                            <a th:href="@{/list-mobility-aids/remove(uuid=${aid.id})}"
                                               th:text="#{remove.this}" th:id="'mobility.aid.remove.link.' + ${iStat.count}"></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <p class="govuk-body" th:if="${#lists.isEmpty(formRequest.mobilityAids)}">
                                    <a data-uipath="firstaddmobilityaidlink" href="/add-mobility-aid"
                                       th:text="#{first.mobility.aid.add.link.text}"></a>
                                </p>
                                <p class="govuk-body" th:if="${not #lists.isEmpty(formRequest.mobilityAids)}">
                                    <a data-uipath="addmobilityaidlink" href="/add-mobility-aid"
                                       th:text="#{mobility.aid.add.link.text}"></a>
                                </p>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="hasWalkingAidno"
                                       type="radio"
                                       value="no"
                                       th:field="*{hasWalkingAid}" autocomplete="off">
                                <label class="govuk-label govuk-radios__label"
                                       for="hasWalkingAidno"
                                       th:text="#{'radio.option.no'}"></label>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <button type="submit"
                        class="govuk-button"
                        data-uipath="button.continue"
                        th:text="#{btn.label.continue}"></button>

            </form>

        </div>
    </div>
</main>

</body>
</html>
