<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="(${errorSummary}? #{common.title.error} : '')  + #{notPaidPage.title}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form th:action="@{/not-paid}" th:object="${formRequest}" method="post" novalidate>

                <div th:replace="~{ fragments/govuk-radios :: govuk-radios('retry', ${retryOptions}) }"></div>

                <button type="submit" class="govuk-button" data-uipath="button.continue"
                        th:text="#{btn.label.continue}"></button>
            </form>

        </div>
    </div>
</main>

</body>
</html>
