<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="(${errorSummary}? #{common.title.error} : '')  + #{payForTheBlueBadgePage.title}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <!--h1 class="govuk-heading-l" th:text="#{payForTheBlueBadgePage.title}"></h1>

            <p class="govuk-body" th:text="#{'payForTheBlueBadgePage.content.p1'(${JOURNEY.badgeCost})}"></p>
            <p class="govuk-body" th:text="#{'payForTheBlueBadgePage.content.p2'(${JOURNEY.localeAwareLocalAuthority.description})}"></p-->

            <form th:action="@{/pay-for-the-blue-badge-retry}" th:object="${formRequest}" method="post" novalidate>

                <p>            You have not paid for the blue badge, do you want to try again?</p>



                <button type="submit" class="govuk-button" data-uipath="button.retry" th:text="retry"></button>

            </form>

        </div>
    </div>
</main>

</body>
</html>
