<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:utext="#{common.title.suffix}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Cookies</h1>

            <p class="govuk-body-l">GOV.UK puts small files (known as 'cookies') on your computer.</p>

            <p class="govuk-body-l">Cookies are used to:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li></li>
            </ul>
        </div>
    </div>
</main>

</body>
</html>
