<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{${JOURNEY.applicantContextContent('receiveBenefitsPage.content.title')}} + ' - ' + #{common.title.suffix}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div th:replace="~{ fragments/errors :: govuk-error-summary(${errorSummary}) }"/>

            <form th:action="@{/benefits}" th:object="${formRequest}" method="post" novalidate>

                <div th:replace="~{ fragments/govuk-radios :: govuk-radios-stacked(#{${JOURNEY.applicantContextContent('receiveBenefitsPage.content.title')}}, 'benefitType', null, ${benefitOptions}) }"></div>

                <button type="submit" class="govuk-button" data-uipath="button.continue" th:text="#{btn.label.continue}"></button>

            </form>

        </div>
    </div>
</main>

</body>
</html>
