<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<body>

<main layout:fragment="content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">

                <h1 class="govuk-heading-l" th:text="#{'taskList.title'}"></h1>

                <ol class="app-task-list">
                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">1. </span>
                            <span th:text="#{taskList.pre.section.title}"></span>
                        </h2>

                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <th:block th:with="describeById=${#strings.randomAlphanumeric(4) + '-' + #strings.randomAlphanumeric(4)}">
                                    <p class="app-task-list__task-name" th:aria-describedby="${describeById}" th:text="#{taskList.pre.section.checkEligibility}"></p>
                                    <div th:replace="~{ fragments/task-list :: task-list-status-tag('COMPLETED', ${describeById})}"></div>
                                </th:block>
                            </li>
                        </ul>
                    </li>

                    <th:block th:replace="~{ fragments/task-list :: task-list-status-tag(${applicationSectionTasks}, #{taskList.application.section.title}, 2)}" />

                    <th:block th:replace="~{ fragments/task-list :: task-list-status-tag(${applySectionTasks}, #{taskList.apply.section.title}, 3)}" />
                </ol>

            </div>
        </div>
</main>

</body>
</html>
