<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="(${errorSummary}? #{common.title.error} : '')  + #{${JOURNEY.who} + 'whereCanYouWalkPage.title'}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form th:action="@{/where-can-you-walk}" th:object="${formRequest}" method="POST" novalidate>
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading" th:text="#{${JOURNEY.who} + 'whereCanYouWalkPage.content.title'}"></h1>
                    </legend>

                    <div th:replace="~{ fragments/govuk-input :: govuk-input(#{${JOURNEY.who} + ${JOURNEY.walkingAid} + 'whereCanYouWalkPage.destinationToHome.field.label'}, 'destinationToHome', #{whereCanYouWalkPage.destinationToHome.field.hint}, 'text', null)}"></div>

                    <div th:replace="~{ fragments/govuk-input :: govuk-input(#{${JOURNEY.who} + 'whereCanYouWalkPage.timeToDestination.field.label'}, 'timeToDestination', #{whereCanYouWalkPage.timeToDestination.field.hint}, 'text', null)}"></div>

                </fieldset>

                <button type="submit"
                        class="govuk-button"
                        data-uipath="button.continue"
                        th:text="#{btn.label.continue}"></button>

                </form>


        </div>
    </div>
</main>

</body>
</html>
