<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="#{${JOURNEY.who} + 'contactCouncilPage.title'}"></title>
</head>
<body>

<main layout:fragment="content">

    <section class="guidance-layout">
        <h1 class="govuk-heading-l">
            <span th:remove="tag" th:text="#{contactCouncilPage.content.title.prefix}"></span>
            <span th:remove="tag" th:text="${localAuthority.description}"></span>
        </h1>

        <p class="govuk-body">
            <span th:remove="tag"
                  th:text="#{${JOURNEY.who} + 'contactCouncilPage.you.should.contact.prefix.text'}">You should contact...:</span>
            <a th:href="${localAuthority.contactUrl}" th:text="' ' + #{contactCouncilPage.council.contact.intext} + ' ' + ${localAuthority.description}"></a>
            <span th:remove="tag" th:text="#{${JOURNEY.who} + 'contactCouncilPage.you.should.contact.suffix.text'}">and tell them...</span>

        </p>

        <p class="govuk-body"
           th:text="#{contactCouncilPage.council.help.text}">Your council will offer....</p>
    </section>
</main>

</body>
</html>
