<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master.html}">
<head>
    <title th:utext="#{${JOURNEY.who} + 'notEligiblePage.title'} + ' - ' + #{common.title.suffix}"></title>
</head>
<body>

<main layout:fragment="content">

    <section class="guidance-layout">
        <h1 class="govuk-heading-l"
            th:text="#{${JOURNEY.who} + 'notEligiblePage.content.title'}"></h1>

        <p class="govuk-body" th:text="#{${JOURNEY.who} + 'notEligiblePage.based.on.answers.text'}">Based on your answers...</p>

        <p class="govuk-body">
            <span th:remove="tag"
                  th:text="#{${JOURNEY.who} + 'notEligiblePage.council.contact.pretext'}">Website:</span>
            <a th:href="${localAuthority.contactUrl}" th:text="#{notEligiblePage.council.contact.intext} + ' ' + ${localAuthority.description} + '.'"></a>
        </p>
    </section>

</main>

</body>
</html>
