<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/master.html}">
<head>
    <title th:text="(${errorSummary}? #{common.title.error} : '') + #{${JOURNEY.who} + 'registeredPage.title'}"></title>
</head>
<body>

<main layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form th:action="@{/registered}" method="post" th:object="${formRequest}" novalidate>
                <div th:replace="~{ fragments/govuk-radios :: govuk-radios('hasRegistered', ${radioOptions}) }"></div>

                <button type="submit" class="govuk-button" data-uipath="button.continue" th:text="#{btn.label.continue}"></button>
            </form>
        </div>
    </div>
</main>

</body>
</html>
